# Importing library and Data

In [ ]:
!pip install yfinance 
import yfinance as yf
import pandas as pd 
import datetime
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive
import os
drive.mount('/content/gdrive')
%matplotlib inline

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 4.5 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 549 kB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70
Mounted at /content/gdrive

In [ ]:
#Importing data
df = pd.read_csv('/content/gdrive/MyDrive/College/Spring Semester 2022/CIS 9665 Applied Natural Science/CIS9665 Project/Update Tweets Dataframe/data_sentiment.csv')
new_df = df
new_df

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,body_clean,body_clean.1,...,NewTokens_no_tick,polarity,subjectivity,TextBlob_Sentiment,vader_score,vader_compound,vader_negative,vader_neutral,vader_positive,Vader_Sentiment
0,0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,lx made on AAPL Check it out http profit ly Mn...,lx made on AAPL Check it out http profit ly Mn...,...,make check http profit mnd aff learn howtotrad...,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 0.828, 'pos': 0.172, 'comp...",0.4404,0.000,0.828,0.172,1
1,1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,Insanity of today weirdo massive selling aapl ...,Insanity of today weirdo massive selling aapl ...,...,insanity today weirdo massive sell aapl bid ce...,0.000000,1.000000,0,"{'neg': 0.442, 'neu': 0.558, 'pos': 0.0, 'comp...",-0.8271,0.442,0.558,0.000,-1
2,2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,S P Stocks Performance HD LOW SBUX TGT DVN IBM...,S P Stocks Performance HD LOW SBUX TGT DVN IBM...,...,stock performance http stock com,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0
3,3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,GM TSLA Volkswagen Pushes Record Recall Tally...,GM TSLA Volkswagen Pushes Record Recall Tally...,...,volkswagen push record recall tally high http ...,0.160000,0.540000,1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0
4,4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,Swing Trading Up To Return In Days http ow ly ...,Swing Trading Up To Return In Days http ow ly ...,...,swing trading return day http gdks swingtradin...,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717959,3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6,That SPY SPX puuump in the last hour was the E...,That SPY SPX puuump in the last hour was the E...,...,spy spx puuump last hour eoy eoq eom top windo...,-0.004545,0.495960,-1,"{'neg': 0.114, 'neu': 0.775, 'pos': 0.111, 'co...",-0.2732,0.114,0.775,0.111,-1
3717960,3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,In I may start Tweeting out positive news abou...,In I may start Tweeting out positive news abou...,...,may start tweet positive news mcep every negat...,-0.036364,0.472727,-1,"{'neg': 0.3, 'neu': 0.549, 'pos': 0.152, 'comp...",-0.5423,0.300,0.549,0.152,-1
3717961,3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,Patiently Waiting for the no twitter sitter tw...,Patiently Waiting for the no twitter sitter tw...,...,patiently wait twitter sitter tweet tsla tslaq,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0
3717962,3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,I don t discriminate I own both aapl and msft,I don t discriminate I own both aapl and msft,...,discriminate aapl msft,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0
3717963,3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,AAPL patent Vertical interconnects for self s...,AAPL patent Vertical interconnects for self s...,...,patent vertical interconnects self shield syst...,0.000000,0.000000,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.000,0

In [ ]:
#creating new dataframe
new_df_2 =new_df[['post_date','All_Tickers','Vader_Sentiment','TextBlob_Sentiment','retweet_num','like_num']]
new_df_2

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num
0,1420070457,"['WATT', 'AAPL']",1,0,0,1
1,1420070496,[],-1,0,0,0
2,1420070510,"['HAL', 'S', 'BMY', 'XOM', 'MS', 'DIS', 'APA',...",0,0,0,0
3,1420070807,"['TSLA', 'GM']",0,1,0,1
4,1420071005,"['TSLA', 'AAPL']",0,0,0,1
...,...,...,...,...,...,...
3717959,1577836383,['PPT'],-1,-1,0,6
3717960,1577836401,"['COP', 'XOM', 'CVX', 'PSX', 'TSLA', 'MRO', 'O...",-1,-1,0,1
3717961,1577836443,[],0,0,0,5
3717962,1577836537,[],0,0,0,1
3717963,1577836553,"['IP', 'AAPL']",0,0,0,0

In [ ]:
# converting and filtering date
from datetime import datetime
new_df_2['post_date'] = new_df_2.post_date.apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d'))
new_df_3= new_df_2[(new_df_2['post_date'] >= "2017-01-01") & (new_df_2['post_date'] <= "2018-12-31")]
new_df_3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num
1570271,2017-01-01,"['NFLX', 'DOW', 'AAPL']",1,0,1,0
1570272,2017-01-01,['AAPL'],1,0,0,0
1570273,2017-01-01,['AAPL'],1,0,2,0
1570274,2017-01-01,['AAPL'],0,0,1,2
1570275,2017-01-01,"['NKE', 'AAPL']",1,1,4,4
...,...,...,...,...,...,...
2958414,2018-12-31,"['TSLA', 'GOLD']",1,1,4,25
2958415,2018-12-31,['AAPL'],-1,-1,0,0
2958416,2018-12-31,"['TSLA', 'K']",1,0,0,1
2958417,2018-12-31,"['CAN', 'TSLA', 'T']",0,1,1,9
2958418,2018-12-31,['TSLA'],-1,-1,0,2

In [ ]:
# creating rows for individual tickers
from ast import literal_eval
new_df_3['All_Tickers'] = new_df_3['All_Tickers'].apply(literal_eval)
new_df_3
total_tickers= new_df_3.explode('All_Tickers').reset_index(drop = True)
total_tickers

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num
0,2017-01-01,NFLX,1,0,1,0
1,2017-01-01,DOW,1,0,1,0
2,2017-01-01,AAPL,1,0,1,0
3,2017-01-01,AAPL,1,0,0,0
4,2017-01-01,AAPL,1,0,2,0
...,...,...,...,...,...,...
3502748,2018-12-31,K,1,0,0,1
3502749,2018-12-31,CAN,0,1,1,9
3502750,2018-12-31,TSLA,0,1,1,9
3502751,2018-12-31,T,0,1,1,9
3502752,2018-12-31,TSLA,-1,-1,0,2

In [ ]:
# Doing total counts of tickers mentioned
total_count = total_tickers[['All_Tickers']]
total_count = pd.DataFrame(total_count.value_counts())
total_count['total_counts'] = total_count[0]
total_count = total_count[['total_counts']]
total_count= total_count.reset_index(level=0)
total_count

     All_Tickers  total_counts
0           AAPL        433996
1           TSLA        423085
2           AMZN        320762
3           MSFT        148020
4          GOOGL        134771
...          ...           ...
4670        OTLK             1
4671        OTTR             1
4672       OXLCO             1
4673        OXSQ             1
4674        SYPR             1

[4675 rows x 2 columns]

In [ ]:
#grouping dataframe by tickers and post date
test = pd.DataFrame(total_tickers.groupby(['post_date','All_Tickers']).size()).reset_index()
test[0]
total_tickers2 = pd.DataFrame(total_tickers.groupby(['post_date','All_Tickers']).sum())
total_tickers2 = total_tickers2.reset_index()
total_tickers2
total_tickers2['tweet_counts'] = test[0]
total_tickers2

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts
0,2017-01-01,A,6,4,1,10,16
1,2017-01-01,AAPL,77,67,172,192,297
2,2017-01-01,ABC,-1,-1,0,0,2
3,2017-01-01,ADBE,0,0,0,1,1
4,2017-01-01,ADMA,0,0,1,4,1
...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1
320038,2018-12-31,Y,0,-2,5,31,4
320039,2018-12-31,Z,0,0,0,4,1
320040,2018-12-31,ZNGA,2,2,1,2,2
320041,2018-12-31,ZTR,1,-1,0,0,1

In [ ]:
#merging two dataframe into one
result = pd.merge(total_tickers2, total_count, left_on='All_Tickers',right_on='All_Tickers',how='left')
result

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts
0,2017-01-01,A,6,4,1,10,16,38911
1,2017-01-01,AAPL,77,67,172,192,297,433996
2,2017-01-01,ABC,-1,-1,0,0,2,633
3,2017-01-01,ADBE,0,0,0,1,1,5144
4,2017-01-01,ADMA,0,0,1,4,1,18
...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268
320038,2018-12-31,Y,0,-2,5,31,4,3825
320039,2018-12-31,Z,0,0,0,4,1,2884
320040,2018-12-31,ZNGA,2,2,1,2,2,1258
320041,2018-12-31,ZTR,1,-1,0,0,1,2

In [ ]:
# making copy of dataframe
result_2 = result.copy()
result_2

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts
0,2017-01-01,A,6,4,1,10,16,38911
1,2017-01-01,AAPL,77,67,172,192,297,433996
2,2017-01-01,ABC,-1,-1,0,0,2,633
3,2017-01-01,ADBE,0,0,0,1,1,5144
4,2017-01-01,ADMA,0,0,1,4,1,18
...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268
320038,2018-12-31,Y,0,-2,5,31,4,3825
320039,2018-12-31,Z,0,0,0,4,1,2884
320040,2018-12-31,ZNGA,2,2,1,2,2,1258
320041,2018-12-31,ZTR,1,-1,0,0,1,2

# Importing Data and combining with morning star

In [ ]:
#Extracting and copying data and droping total_count columns
df =result_2.copy()
#df = df.drop('total_counts', axis=1)
df

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts
0,2017-01-01,A,6,4,1,10,16,38911
1,2017-01-01,AAPL,77,67,172,192,297,433996
2,2017-01-01,ABC,-1,-1,0,0,2,633
3,2017-01-01,ADBE,0,0,0,1,1,5144
4,2017-01-01,ADMA,0,0,1,4,1,18
...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268
320038,2018-12-31,Y,0,-2,5,31,4,3825
320039,2018-12-31,Z,0,0,0,4,1,2884
320040,2018-12-31,ZNGA,2,2,1,2,2,1258
320041,2018-12-31,ZTR,1,-1,0,0,1,2

In [ ]:
df2 = df[['All_Tickers','total_counts']]
df2 = df2.drop_duplicates()
df2 = df2.nlargest(22,'total_counts')

ticker_list = df2.All_Tickers.values.tolist()
ticker_list  = [e for e in ticker_list if e not in ('S','FREE')]
ticker_list

['AAPL',
 'TSLA',
 'AMZN',
 'MSFT',
 'GOOGL',
 'FB',
 'GOOG',
 'NFLX',
 'F',
 'NVDA',
 'TWTR',
 'A',
 'BABA',
 'GS',
 'AMD',
 'T',
 'INTC',
 'WMT',
 'C',
 'BAC']

In [ ]:
# creating two seeprate dataframe for one for analysis other for stock counts
df1 = df.drop('total_counts', axis=1)
df1['Year'] = pd.DatetimeIndex(df1['post_date']).year
df2 = df[['All_Tickers','total_counts']]
df2 = df2.drop_duplicates()
df2 = df2.nlargest(22,'total_counts')
df1

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,Year
0,2017-01-01,A,6,4,1,10,16,2017
1,2017-01-01,AAPL,77,67,172,192,297,2017
2,2017-01-01,ABC,-1,-1,0,0,2,2017
3,2017-01-01,ADBE,0,0,0,1,1,2017
4,2017-01-01,ADMA,0,0,1,4,1,2017
...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,2018
320038,2018-12-31,Y,0,-2,5,31,4,2018
320039,2018-12-31,Z,0,0,0,4,1,2018
320040,2018-12-31,ZNGA,2,2,1,2,2,2018
320041,2018-12-31,ZTR,1,-1,0,0,1,2018

In [ ]:
# converting tickers into list for yfinance and drop tickers that do not have yfinance data
ticker_list = df2.All_Tickers.values.tolist()
ticker_list  = [e for e in ticker_list if e not in ('S','FREE')]
ticker_list

['AAPL',
 'TSLA',
 'AMZN',
 'MSFT',
 'GOOGL',
 'FB',
 'GOOG',
 'NFLX',
 'F',
 'NVDA',
 'TWTR',
 'A',
 'BABA',
 'GS',
 'AMD',
 'T',
 'INTC',
 'WMT',
 'C',
 'BAC']

# Exporting analysis from yfinance

In [ ]:
# extracting stocks info from yfinance
start = '2017-01-01'
end = '2018-12-31'
stocks = yf.download(ticker_list, start, end,progress=False)
print(stocks)

            Adj Close                                                        \
                    A       AAPL    AMD         AMZN        BABA        BAC
Date
2017-01-03  44.589348  27.297693  11.43   753.669983   88.599998  20.247797
2017-01-04  45.174400  27.267139  11.43   757.179993   90.510002  20.625256
2017-01-05  44.637306  27.405804  11.24   780.450012   94.370003  20.382599
2017-01-06  46.028023  27.711332  11.32   795.989990   93.889999  20.382599
2017-01-09  46.171894  27.965147  11.49   796.919983   94.720001  20.265772
...               ...        ...    ...          ...         ...        ...
2018-12-21  61.664883  36.534771  16.93  1377.449951  132.000000  21.726801
2018-12-24  61.060802  35.589470  16.65  1343.959961  131.889999  21.131798
2018-12-26  63.857117  38.095734  17.90  1470.900024  138.000000  22.414768
2018-12-27  64.772980  37.848495  17.49  1461.640015  138.449997  22.656485
2018-12-28  64.425247  37.867886  17.82  1478.020020  139.089996  22.675079

                                                           ...   Volume  \
                    C          F          FB         GOOG  ...    GOOGL
Date                                                       ...
2017-01-03  52.040108  10.085314  116.860001   786.140015  ...  1959000
2017-01-04  52.744389  10.549927  118.690002   786.900024  ...  1515300
2017-01-05  51.825382  10.229504  120.669998   794.020020  ...  1340500
2017-01-06  52.005749  10.221494  123.410004   806.150024  ...  2017100
2017-01-09  51.722324  10.117355  124.900002   806.650024  ...  1408900
...               ...        ...         ...          ...  ...      ...
2018-12-21  44.747906   7.299062  124.949997   979.539978  ...  5232800
2018-12-24  43.875027   6.918242  124.059998   976.219971  ...  1818000
2018-12-26  45.816708   7.117719  134.179993  1039.459961  ...  2315900
2018-12-27  46.110638   7.117719  134.520004  1043.880005  ...  2299800
2018-12-28  46.164082   7.081450  133.199997  1037.079956  ...  1719900

                                                                          \
                 GS      INTC       MSFT      NFLX       NVDA          T
Date
2017-01-03  4384200  20196500   20694100   9437900  150199600   34432738
2017-01-04  2728700  15915700   21340000   7843600  119922000   30720772
2017-01-05  3562600  13986000   24876000  10185500   98429600   34041629
2017-01-06  3591100  15114000   19922900  10657900   82285600   43278780
2017-01-09  3022800  19461400   20382700   5771800   91624800   33741743
...             ...       ...        ...       ...        ...        ...
2018-12-21  8960000  52768300  111242100  21397600   86374000  105470767
2018-12-24  3783500  19241600   43935200   9547600   46384000   54429772
2018-12-26  7054700  28677600   51634800  14402700   69510000   75985949
2018-12-27  4973000  29970700   49498500  12235200   63704400   77548269
2018-12-28  4110500  24758700   38196300  10992800   62872800   66978909


                TSLA      TWTR       WMT
Date
2017-01-03  29616500  11147900  10473200
2017-01-04  56067500  15861300   7918000
2017-01-05  29558500  17074400   7099200
2017-01-06  27639500  14665100   9491100
2017-01-09  19897500  11918100   8685200
...              ...       ...       ...
2018-12-21  40084000  38714100  14921500
2018-12-24  27799500  18208300   6110300
2018-12-26  40815500  35529600  10028300
2018-12-27  42875500  31987700   9881500
2018-12-28  49695000  21820500   9874000

[501 rows x 120 columns]

In [ ]:
#extracting morning start data
morning_star = pd.read_excel('/content/gdrive/MyDrive/College/Spring Semester 2022/CIS 9665 Applied Natural Science/CIS9665 Project/MorningstarSample.xlsx')
morning_star['post_date'] = morning_star['post_date'].astype(str)
morning_star

,post_date,All_Tickers,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE
0,2017-01-01,A,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.0,14658.833458,10.9869
1,2017-01-02,A,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.0,14658.833458,10.9869
2,2017-01-03,A,3.528112,19.287781,33.207143,17.743863,23.387171,3.639983,42.0,14658.833458,10.9869
3,2017-01-04,A,3.574405,19.540858,33.642857,17.976682,23.694037,3.687744,42.0,14658.833458,10.9869
4,2017-01-05,A,3.531907,19.308525,33.242857,17.762947,23.412324,3.643898,42.0,14658.833458,10.9869
...,...,...,...,...,...,...,...,...,...,...,...
14595,2018-12-27,WMT,3.695938,9.488224,52.637931,12.543747,14.717869,0.529854,94.0,283698.644761,7.0432
14596,2018-12-28,WMT,3.717729,9.544165,52.948276,12.617702,14.804643,0.532977,94.0,283698.644761,7.0432
14597,2018-12-29,WMT,3.717729,9.544165,52.948276,12.617702,14.804643,0.532977,94.0,283698.644761,7.0432
14598,2018-12-30,WMT,3.717729,9.544165,52.948276,12.617702,14.804643,0.532977,94.0,283698.644761,7.0432
14599,2018-12-31,WMT,3.758889,9.649832,53.534483,12.757397,14.968550,0.538878,94.0,270624.974495,6.9636

In [ ]:
morning_star[morning_star['post_date'] == '2017-01-19']

,post_date,All_Tickers,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE
18,2017-01-19,A,3.615385,19.764893,34.028571,18.182784,23.965688,3.730024,42.0000,14658.833458,10.9869
748,2017-01-19,AAPL,4.900082,10.008867,14.413959,8.984000,12.602794,3.055216,33.2500,608960.249120,36.9033
1478,2017-01-19,AMD,23.727143,0.000000,0.000000,0.000000,0.000000,1.892286,4.0000,10510.691239,-2236.7347
2208,2017-01-19,AMZN,21.710163,26.717766,185.135011,33.344119,45.563417,3.048288,900.0000,356313.123601,13.9282
2938,2017-01-19,BABA,6.671751,26.500844,50.624362,32.913333,31.961535,13.438741,105.0000,219525.000000,15.1043
3668,2017-01-19,BAC,0.937363,7.847532,15.020000,0.000000,7.847532,2.970494,21.0000,223321.531053,6.2258
4398,2017-01-19,C,0.762652,6.127647,11.953587,0.000000,6.850478,2.342055,70.0000,169359.468638,6.4433
5128,2017-01-19,F,1.569067,2.596022,6.867403,4.202456,4.009863,0.323984,15.0000,48201.158376,24.5874
5858,2017-01-19,FB,6.811736,29.325858,49.247104,29.062597,42.563248,14.960110,127.0000,331593.368343,15.6592
6588,2017-01-19,GOOG,4.135926,17.128942,29.351445,19.663600,23.840325,6.545031,840.0000,539067.897721,15.2334
7318,2017-01-19,GOOGL,4.250361,17.602875,30.163557,20.207662,24.499951,6.726123,840.0000,539067.897721,15.2334
8048,2017-01-19,GS,1.196978,11.751458,14.205648,0.000000,17.132294,3.589152,207.0000,95217.105010,7.2279
8778,2017-01-19,INTC,2.740650,9.337470,17.169014,8.286321,16.904345,3.076383,31.0000,171883.530000,17.2479
9508,2017-01-19,MSFT,6.841146,13.777718,29.808612,17.731590,18.473268,5.808023,63.0000,483160.280132,22.4413
10238,2017-01-19,NFLX,22.230491,0.000000,321.883721,11.379008,0.000000,6.875337,73.0000,53128.153847,6.9463
10968,2017-01-19,NVDA,11.554959,44.865629,53.928205,39.254069,49.616906,10.686470,9.5000,57532.860000,24.9259
11698,2017-01-19,T,2.036717,6.613489,17.372881,4.705254,14.724046,1.547396,26.4172,261176.730000,11.8524
12428,2017-01-19,TSLA,14.702093,114.392928,0.000000,406.381332,0.000000,5.681777,35.2000,34423.044089,-43.7518
13158,2017-01-19,TWTR,2.617050,17.507784,0.000000,112.422061,28.104295,4.620029,20.0000,11652.918411,-8.5372
13888,2017-01-19,WMT,2.652823,6.622550,14.700000,6.409423,9.951069,0.437691,76.0000,212418.913950,18.3895

In [ ]:
# merging morning start data with main dataframe
result = pd.merge(df,morning_star,how='left', on =['All_Tickers','post_date'])

In [ ]:
result

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.00,14658.833458,10.9869
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,13.937425,8.686983,12.186138,2.954208,33.25,608960.249120,36.9033
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def CAGR2(data,start,end):
  stock_data = yf.download(data, start=start, end = end, progress=False)
  df = stock_data.copy()
  df['daily returns'] = df['Adj Close'].pct_change()
  df['cumulative returns'] = (1+ df["daily returns"]).cumprod()
  trading_days = 252 + 251
  n = len(df)/ trading_days
  cagr = ((df["cumulative returns"][-1]**(1/n))-1)
  return cagr

def volatility2(data,start,end):
  stock_data = yf.download(data, start=start, end = end,progress=False)
  df = stock_data.copy()
  df['daily returns'] = df['Adj Close'].pct_change()
  trading_days = 252 + 251
  vol = df['daily returns'].std() * np.sqrt(trading_days)
  return vol

def sharpe(ticker_list,start,end,rf):
  rows = []
  for stocks in ticker_list:
    stock_data = yf.download(stocks, start=start, end = end, progress=False)
    df = stock_data.copy()
    sharpe = (CAGR2(stocks,start,end) - rf) / volatility2(stocks,start,end)
    rows.append([stocks,sharpe])
  df = pd.DataFrame(rows, columns=['All_Tickers','Sharpe ratio'])
  return df
sharpe = sharpe(ticker_list,start,end,.03)
sharpe

   All_Tickers  Sharpe ratio
0         AAPL      1.063888
1         TSLA      0.747560
2         AMZN      2.243970
3         MSFT      2.012738
4        GOOGL      0.832414
5           FB      0.264617
6         GOOG      0.906128
7         NFLX      1.824294
8            F     -1.015143
9         NVDA      0.456504
10        TWTR      0.987448
11           A      1.317176
12        BABA      1.207073
13          GS     -1.047243
14         AMD      0.619625
15           T     -0.933065
16        INTC      0.836020
17         WMT      1.264290
18           C     -0.481472
19         BAC      0.276278

In [ ]:
result2 = pd.merge(result,sharpe,how='left', on =['All_Tickers'])
result2

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.00,14658.833458,10.9869,1.317176
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,13.937425,8.686983,12.186138,2.954208,33.25,608960.249120,36.9033,1.063888
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#creating volume dataframe and merging them
def vol(stock):
  data = yf.Ticker(stock)
  data = data.history(start= start,end= end, interval='1d')
  data = data[['Volume']].reset_index()
  data['All_Tickers'] = stock
  data.rename(columns={'Date':'post_date'},inplace=True)
  data['post_date']= data['post_date'].astype(str)
  return data
AAPL = vol('AAPL')
TSLA = vol('TSLA')
AMZN = vol('AMZN')
MSFT = vol('MSFT')
GOOGL = vol('GOOGL')
FB = vol('FB')
GOOG = vol('GOOG')
NFLX = vol('NFLX')
F = vol('F')
NVDA = vol('NVDA')
TWTR = vol('TWTR')
A = vol('A')
BABA = vol('BABA')
GS = vol('GS')
AMD = vol('AMD')
T = vol('T')
INTC = vol('INTC')
WMT = vol('WMT')
C = vol('C')
BAC = vol('BAC')
test = pd.concat([AAPL,TSLA,AMZN,MSFT,GOOGL,NFLX,F,NVDA,TWTR,A,BABA,GS,AMD,T,INTC,WMT,C,BAC,GOOG,FB])
test = test.sort_values('post_date').reset_index()
test = test.drop('index', axis=1)
result3 = pd.merge(result2,test,how='left', on =['All_Tickers','post_date'])
result3

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio,Volume
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.00,14658.833458,10.9869,1.317176,NaN
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,13.937425,8.686983,12.186138,2.954208,33.25,608960.249120,36.9033,1.063888,NaN
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#creating MA50 dataframe and merging them
def MA50(stock):
  data = yf.Ticker(stock)
  data = data.history(start= '2015-12-31',end= end, interval='1d')
  data = data[['Volume']].reset_index()
  data['All_Tickers'] = stock
  data.rename(columns={'Date':'post_date'},inplace=True)
  data['post_date']= data['post_date'].astype(str)
  data['50MA'] = data['Volume'].rolling(50).mean()
  data = data[(data['post_date'] >= "2017-01-01") & (data['post_date'] <= "2018-12-31")]
  return data
AAPL = MA50('AAPL')
TSLA = MA50('TSLA')
AMZN = MA50('AMZN')
MSFT = MA50('MSFT')
GOOGL = MA50('GOOGL')
FB = MA50('FB')
GOOG = MA50('GOOG')
NFLX = MA50('NFLX')
F = MA50('F')
NVDA = MA50('NVDA')
TWTR = MA50('TWTR')
A = MA50('A')
BABA = MA50('BABA')
GS = MA50('GS')
AMD = MA50('AMD')
T = MA50('T')
INTC = MA50('INTC')
WMT = MA50('WMT')
C = MA50('C')
BAC = MA50('BAC')
testMA = pd.concat([AAPL,TSLA,AMZN,MSFT,GOOGL,NFLX,F,NVDA,TWTR,A,BABA,GS,AMD,T,INTC,WMT,C,BAC,GOOG,FB])
testMA = testMA.sort_values('post_date').reset_index()
testMA = testMA.drop('index', axis=1)
testMA = testMA.drop('Volume', axis=1)
testMA['50MA'] =round(testMA['50MA'])
result4 = pd.merge(result3,testMA,how='left', on =['All_Tickers','post_date'])
result4

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,P_E,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,32.542857,17.388910,22.919327,3.567168,42.00,14658.833458,10.9869,1.317176,NaN,NaN
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,13.937425,8.686983,12.186138,2.954208,33.25,608960.249120,36.9033,1.063888,NaN,NaN
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#creating MA200 dataframe and merging them
def MA200(stock):
  data = yf.Ticker(stock)
  data = data.history(start= '2015-12-31',end= end, interval='1d')
  data = data[['Volume']].reset_index()
  data['All_Tickers'] = stock
  data.rename(columns={'Date':'post_date'},inplace=True)
  data['post_date']= data['post_date'].astype(str)
  data['200MA'] = data['Volume'].rolling(200).mean()
  data = data[(data['post_date'] >= "2017-01-01") & (data['post_date'] <= "2018-12-31")]
  return data
AAPL = MA200('AAPL')
TSLA = MA200('TSLA')
AMZN = MA200('AMZN')
MSFT = MA200('MSFT')
GOOGL = MA200('GOOGL')
FB = MA200('FB')
GOOG = MA200('GOOG')
NFLX = MA200('NFLX')
F = MA200('F')
NVDA = MA200('NVDA')
TWTR = MA200('TWTR')
A = MA200('A')
BABA = MA200('BABA')
GS = MA200('GS')
AMD = MA200('AMD')
T = MA200('T')
INTC = MA200('INTC')
WMT = MA200('WMT')
C = MA200('C')
BAC = MA200('BAC')
testMA2 = pd.concat([AAPL,TSLA,AMZN,MSFT,GOOGL,NFLX,F,NVDA,TWTR,A,BABA,GS,AMD,T,INTC,WMT,C,BAC,GOOG,FB])
testMA2 = testMA2.sort_values('post_date').reset_index()
testMA2 = testMA2.drop('index', axis=1)
testMA2 = testMA2.drop('Volume', axis=1)
testMA2['200MA'] =round(testMA2['200MA'])
result5 = pd.merge(result4,testMA2,how='left', on =['All_Tickers','post_date'])
result5

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,...,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA,200MA
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,...,17.388910,22.919327,3.567168,42.00,14658.833458,10.9869,1.317176,NaN,NaN,NaN
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,...,8.686983,12.186138,2.954208,33.25,608960.249120,36.9033,1.063888,NaN,NaN,NaN
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
result5[result5['All_Tickers']== 'MSFT']

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,...,P_EBITDA,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA,200MA
108,2017-01-01,MSFT,36,25,38,54,98,148020,6.825757,13.742334,...,17.686051,18.425825,5.793107,63.0,483160.280132,22.4413,2.012738,NaN,NaN,NaN
351,2017-01-02,MSFT,49,34,27,45,144,148020,6.825757,13.742334,...,17.686051,18.425825,5.793107,63.0,483160.280132,22.4413,2.012738,NaN,NaN,NaN
678,2017-01-03,MSFT,69,23,46,85,196,148020,6.871892,13.839641,...,17.811282,18.556294,5.834126,63.0,483160.280132,22.4413,2.012738,20694100.0,28699358.0,28170357.0
1110,2017-01-04,MSFT,57,19,54,75,213,148020,6.841146,13.777718,...,17.731590,18.473268,5.808023,63.0,483160.280132,22.4413,2.012738,21340000.0,27525514.0,28157428.0
1529,2017-01-05,MSFT,56,56,60,86,217,148020,6.841146,13.777718,...,17.731590,18.473268,5.808023,63.0,483160.280132,22.4413,2.012738,24876000.0,26941694.0,28166188.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318272,2018-12-27,MSFT,46,29,39,155,156,148020,9.042609,17.466623,...,15.136174,24.618338,6.855710,130.0,851215.895635,21.4322,2.012738,49498500.0,42791644.0,31453998.0
318787,2018-12-28,MSFT,41,23,29,160,130,148020,8.972005,17.330246,...,15.017993,24.426121,6.802181,130.0,851215.895635,21.4322,2.012738,38196300.0,42923366.0,31484319.0
319145,2018-12-29,MSFT,30,19,11,55,46,148020,8.972005,17.330246,...,15.017993,24.426121,6.802181,130.0,851215.895635,21.4322,2.012738,NaN,NaN,NaN
319422,2018-12-30,MSFT,7,9,10,35,42,148020,8.972005,17.330246,...,15.017993,24.426121,6.802181,130.0,851215.895635,21.4322,2.012738,NaN,NaN,NaN
319857,2018-12-31,MSFT,46,38,44,134,119,148020,9.077464,17.533949,...,15.194517,24.713229,6.882135,130.0,780362.310000,21.4322,2.012738,NaN,NaN,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#creating volatility dataframe and merging them
def volatility(ticker_list,start,end):
  rows = []
  for stocks in ticker_list:
    stock_data = yf.download(stocks, start=start, end = end,progress=False)
    df = stock_data.copy()
    df['daily returns'] = df['Adj Close'].pct_change()
    trading_days = 252 + 251
    vol = round((df['daily returns'].std() * np.sqrt(trading_days))*100)
    vol = str(vol)+'%'
    rows.append([stocks,vol])
  df = pd.DataFrame(rows, columns=['All_Tickers','Two Years Volatility'])
  return df

volatility = volatility(ticker_list,start,end)
result6 = pd.merge(result5,volatility,how='left', on =['All_Tickers'])
result6

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,...,P_FCF,P_S,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA,200MA,Two Years Volatility
0,2017-01-01,A,6,4,1,10,16,38911,3.454828,18.901942,...,22.919327,3.567168,42.00,14658.833458,10.9869,1.317176,NaN,NaN,NaN,32%
1,2017-01-01,AAPL,77,67,172,192,297,433996,4.746104,9.677968,...,12.186138,2.954208,33.25,608960.249120,36.9033,1.063888,NaN,NaN,NaN,34%
2,2017-01-01,ABC,-1,-1,0,0,2,633,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,ADBE,0,0,0,1,1,5144,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,ADMA,0,0,1,4,1,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320037,2018-12-31,XRX,0,0,0,4,1,268,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2018-12-31,Y,0,-2,5,31,4,3825,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2018-12-31,Z,0,0,0,4,1,2884,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320040,2018-12-31,ZNGA,2,2,1,2,2,1258,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320041,2018-12-31,ZTR,1,-1,0,0,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Creating Volume change % for 200MA and 50MA
result7 = result6.copy()
result7 = result7.fillna(0)
result7['VolumeChange_50MA'] = round(((result7['Volume'] - result7['50MA'])/result7['50MA'])*100)
result7 = result7.fillna(0)
result7
result7['VolumeChange_200MA'] = round(((result7['Volume'] - result7['200MA'])/result7['200MA'])*100)
result7 = result7.fillna(0)
result7['VolumeChange_200MA'] = pd.Series(["{0:.2f}%".format(val) for val in result7['VolumeChange_200MA']])

In [ ]:
result7[result7['All_Tickers'] == 'MSFT']

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,...,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA,200MA,Two Years Volatility,VolumeChange_50MA,VolumeChange_200MA
108,2017-01-01,MSFT,36,25,38,54,98,148020,6.825757,13.742334,...,63.0,483160.280132,22.4413,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
351,2017-01-02,MSFT,49,34,27,45,144,148020,6.825757,13.742334,...,63.0,483160.280132,22.4413,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
678,2017-01-03,MSFT,69,23,46,85,196,148020,6.871892,13.839641,...,63.0,483160.280132,22.4413,2.012738,20694100.0,28699358.0,28170357.0,32%,-28.0,-27.00%
1110,2017-01-04,MSFT,57,19,54,75,213,148020,6.841146,13.777718,...,63.0,483160.280132,22.4413,2.012738,21340000.0,27525514.0,28157428.0,32%,-22.0,-24.00%
1529,2017-01-05,MSFT,56,56,60,86,217,148020,6.841146,13.777718,...,63.0,483160.280132,22.4413,2.012738,24876000.0,26941694.0,28166188.0,32%,-8.0,-12.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318272,2018-12-27,MSFT,46,29,39,155,156,148020,9.042609,17.466623,...,130.0,851215.895635,21.4322,2.012738,49498500.0,42791644.0,31453998.0,32%,16.0,57.00%
318787,2018-12-28,MSFT,41,23,29,160,130,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,38196300.0,42923366.0,31484319.0,32%,-11.0,21.00%
319145,2018-12-29,MSFT,30,19,11,55,46,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
319422,2018-12-30,MSFT,7,9,10,35,42,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
319857,2018-12-31,MSFT,46,38,44,134,119,148020,9.077464,17.533949,...,130.0,780362.310000,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%

In [ ]:
#dataframe for top 20 tickers
top20 = result7[result7['Sharpe ratio'] != 0]
top20
top20[top20['All_Tickers'] == 'MSFT']

,post_date,All_Tickers,Vader_Sentiment,TextBlob_Sentiment,retweet_num,like_num,tweet_counts,total_counts,P_B,P_C,...,FairValue,MarketCap,ROE,Sharpe ratio,Volume,50MA,200MA,Two Years Volatility,VolumeChange_50MA,VolumeChange_200MA
108,2017-01-01,MSFT,36,25,38,54,98,148020,6.825757,13.742334,...,63.0,483160.280132,22.4413,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
351,2017-01-02,MSFT,49,34,27,45,144,148020,6.825757,13.742334,...,63.0,483160.280132,22.4413,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
678,2017-01-03,MSFT,69,23,46,85,196,148020,6.871892,13.839641,...,63.0,483160.280132,22.4413,2.012738,20694100.0,28699358.0,28170357.0,32%,-28.0,-27.00%
1110,2017-01-04,MSFT,57,19,54,75,213,148020,6.841146,13.777718,...,63.0,483160.280132,22.4413,2.012738,21340000.0,27525514.0,28157428.0,32%,-22.0,-24.00%
1529,2017-01-05,MSFT,56,56,60,86,217,148020,6.841146,13.777718,...,63.0,483160.280132,22.4413,2.012738,24876000.0,26941694.0,28166188.0,32%,-8.0,-12.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318272,2018-12-27,MSFT,46,29,39,155,156,148020,9.042609,17.466623,...,130.0,851215.895635,21.4322,2.012738,49498500.0,42791644.0,31453998.0,32%,16.0,57.00%
318787,2018-12-28,MSFT,41,23,29,160,130,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,38196300.0,42923366.0,31484319.0,32%,-11.0,21.00%
319145,2018-12-29,MSFT,30,19,11,55,46,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
319422,2018-12-30,MSFT,7,9,10,35,42,148020,8.972005,17.330246,...,130.0,851215.895635,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%
319857,2018-12-31,MSFT,46,38,44,134,119,148020,9.077464,17.533949,...,130.0,780362.310000,21.4322,2.012738,0.0,0.0,0.0,32%,0.0,0.00%

In [ ]:
#Extrating data
from google.colab import files

result7.to_csv('final_data.csv', index=False) 
files.download("final_data.csv")